extends layout

block content
  form(action="get" class="id_form" name="form")
    input(type="number" name="id" value="" placeholder="ID")
    input(type="submit" name="submit" class="form-container__btn" value="Отправить")
  script(src='/javascripts/main2.js')